.card {
  box-shadow:
    0px 16px 30px 10px rgba(0, 0, 0, 0.3),
    inset 0px 0px 30px -3px rgba(255, 255, 255, 0.1),
    inset 0px 1px 1px 1px rgba(150, 150, 150, 0.1);
}
.navigationBtn {
  box-shadow:
    0px 16px 30px 10px rgba(0, 0, 0, 0.3),
    inset 0px 0px 30px -3px rgba(255, 255, 255, 0.1),
    inset 0px 1px 1px 1px rgba(150, 150, 150, 0.1);
}
.button {
  box-shadow:
    inset 2px 3px 15px 0px rgba(255, 255, 255, 0.1),
    inset 1px 1px 0px 0px rgba(255, 255, 255, 0.2),
    0px 0px 20px -3px rgba(0, 0, 0, 0.5);
}
.button:hover {
  box-shadow:
    inset 2px 3px 15px 0px rgba(255, 255, 255, 0.1),
    inset 1px 1px 0px 0px rgba(255, 255, 255, 0.2),
    0px 0px 20px -3px rgba(0, 0, 0, 1);
}
.circle {
  box-shadow: inset 0px 0px 3px 2px rgba(255, 255, 255, 0.2);
}
.logoCircle {
  box-shadow: inset 0px 0px 6px 1px rgba(255, 255, 255, 0.7);
}
.logoCircle2 {
  box-shadow: inset 8px 12px 20px -10px rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.2);
}
.circleInCenter {
  box-shadow: 0px 10px 15px 6px rgba(0, 0, 0, 0.3);
}
.squareShadow {
  box-shadow: 0px 0px 24px 57px rgba(36, 39, 46, 1);
}
.questionCountShadow {
  box-shadow:
    0px 10px 15px 3px rgba(0, 0, 0, 0.2),
    inset -8px -8px 32px 5px #3b3e43,
    inset 1px 1px 0px 0px rgba(255, 255, 255, 0.3);
}
