@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter';
  color: #24272e;
  background: hsl(222, 12%, 14%);
  font-size: 16px;
}
.selectedOption {
  transform: scale(1);
  will-change: auto;
  animation: select 300ms;
}

@keyframes select {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
