@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  color: #01283d;
  background: #24272e;
  font-size: 16px;
}
.selectedOption {
  transform: scale(1);
  will-change: auto;
  animation: select 300ms;
}

@keyframes select {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
